@{
    ViewData["Title"] = "UB Bike Rental System";
}

<div class="text-center">
    <h1 class="display-7">UB Bike Rental System</h1>
    <p>Wypożyczalnia rowerów stworzona przez studentów Uniwersytetu Bielsko-Bialskiego.</p>
</div>
<div class="d-flex flex-row">
    <div width="*">
        <img class="img-fluid img-thumbnail" src=https://u.profitroom.pl/2019-uzdrowisko-wieniec-pl/thumb/1920x810/uploads/ATRAKCJE_UZDROWISKA/Uzdrowisko_wieniec_Wypozyczalniarowerow15.jpg />
    </div>
    <div width="*">
        <img class="img-fluid img-thumbnail" src=https://fabrykarowerow.com/wp-content/uploads/2020/12/21728021_1884089258510113_4717819112407144380_n.jpg />
    </div>
</div>